<nav class="sp-contain-navbar">
    <div class="sp-container">
        <div class="sp-app">
          <small class="bold">no <span class="dark">code</span></small>
        </div>
        <form action="" class="sp-navbar-search">
            <input type="text" name="auto-search" placeholder="Pesquise user, template">
            <small class="icon"></small>
        </form>
        <div class="sp-navbar-items">
            <a href="" class="sp-nav-item">
                <small>Home</small>
            </a>
            <a href="" class="sp-nav-item">
                <small>Features</small>
            </a>
            <a href="" class="sp-nav-item">
                <small>Create</small>
            </a>
            <a href="" class="sp-nav-item">
                <small>Login</small>
            </a>
        </div>
    </div>
</nav>
