<div class="sp-contain-sidebar">
    <div class="sp-sidebar-items">
        <div class="sp-sidebar-item active">
            <a href="" class="item-name">
                <small class="bi-plus-square-dotted">Create Template</small>
            </a>
        </div>
        <div class="sp-sidebar-item">
            <a href="" class="item-name">
                <small class="bi-stack">List All Template</small>
            </a>
        </div>

        <div class="sp-sidebar-item">
            <a href="" class="item-name">
                <small class="bi-substack">Users Template</small>
            </a>
        </div>

        <div class="sp-sidebar-item">
            <a href="" class="item-name">
                <small class="bi-person">User</small>
            </a>
        </div>
        <div class="sp-sidebar-item">
            <a href="" class="item-name">
                <small class="bi-gear">Settings</small>
            </a>
        </div>
    </div>
</div>

<script>
    var items = document.querySelectorAll('.sp-sidebar-item > .item-name');

    items.forEach((item) => {
        item.addEventListener('click', (e) => {
            e.preventDefault();
            removeActiveClassToAll(items);
            e.target.parentNode.classList.add('active');
            //window.location = e.target.href;
        });
    });

    function removeActiveClassToAll(inUseItems) {
        inUseItems.forEach((item) => {
            item.parentNode.classList.remove('active');
        });
    }
</script>
