@import url('../general-sans.css');
@import url('../all-fonts.css');

@import "reset.css";
@import "classes.css";
@import "colors.css?v=2";
@import "components/cards.css";
@import "typography.css";
@import "displays.css";
@import "button.css";
@import "grid.css?v=1";
@import "navbar.css";
@import "table.css";
@import "form.css?v=1";
@import "wrapper.css";
@import "media.css";

body {
    font-family: 'Roboto-Light';
    background-color: #f9f9f9ad;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/*
navbar
*/
.navbar {
    /*box-shadow: none;*/
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border: solid 1px rgba(0, 0, 0, 0.03);
}

.navbar .nav-app {
    gap: 5px;
    color: #f71;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-family: 'Roboto-Bold';
}

.navbar a.__nav-link {
    color: #000;
    font-size: 15px;
    font-family: 'Roboto-Light';
    position: relative;
}

.navbar a.__nav-link::after {
    content: '';
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #f71;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}

.navbar .__nav-item.active a.__nav-link::after,
.navbar a.__nav-link:hover::after {
    width: 100%;
}

.navbar .__nav-item.active a.__nav-link,
.navbar a.__nav-link:hover {
    color: #f71;
}


/*
card-plan
*/
.card-plan {
    background-color: #fff;
    padding: 1rem 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.07);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.card-plan-top>.title {
    font-family: 'Roboto-Bold';
}

.card-plan-top>.title+div {
    margin-top: -5px;
    margin-bottom: 1rem;
    gap: 1rem;
}

.card-plan-item {
    gap: 0.5rem;
}

.card-plan-item+.card-plan-item {
    margin-top: 0.5rem;
}

.card-plan-item .bi {
    width: 15px;
    height: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #f71;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.card-plan-item:last-of-type {
    margin-bottom: 0.5rem;
}


/*
mobileMenu
*/

.mobileMenu {
    position: relative;
}

.mobileMenu-top {
    position: relative;
    height: 60px;
    background-color: #fff;
    box-shadow: none;
    border: solid 1px rgba(0, 0, 0, 0.03);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11111;
}

.mobileMenu-top [class*="container"] {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobileMenu-top .nav-app {
    gap: 5px;
    color: #f71;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-family: 'Roboto-Bold';
}

.openMenu {
    width: 35px;
    height: 28px;
    border: solid 1px #f71;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.openMenu .lineMenu {
    width: 80%;
    height: 2px;
    display: block;
    background-color: #f71;
}

.mobileMenu-contain {
    top: 0;
    right: -1000%;
    width: 285px;
    height: 100%;
    max-width: 100%;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
    border: solid 1px rgba(0, 0, 0, 0.03);
    z-index: 111111;
    display: flex;
    flex-direction: column;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}

.mmItem {
    display: block;
}

.mmItem a {
    color: #000;
}

.mmItem a,
.mmItem span:not(.bi-cart) {
    display: flex;
    align-items: center;
    height: 45px;
    width: 100%;
    padding: 0 2rem;
}

.mmItem span:not(.bi-cart) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mmItem:last-of-type {
    margin-top: auto !important;
    background-color: #f9f9f9;
}


.mmItem.active a {
    background-color: #f71;
    color: #fff;
}

.mmItem a:has(.count) {
    justify-content: space-between;
}

.mmItem a:has(.count) .count {
    width: 20px;
    height: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: rgba(255, 120, 17, 0.788);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.mmItem a:has(.bi-cart) span {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}

.mmItem+.mmItem {
    margin-top: 0.3rem;
}

/*
faqs
*/
.faqs {
    width: 100%;
}

.faqItem {
    width: 100%;
    display: block;
    position: relative;
}

.faqItem+.faqItem {
    margin-top: 1rem;
}

.faqItem-top {
    min-height: 45px;
    padding-top: 0.2rem;
    background-color: #fff;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-left: 4px solid #f71;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03);
    cursor: pointer;
}

.faqItem-top span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    pointer-events: none;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.faqItem-body {
    height: 0;
    background-color: #fff;
    overflow: hidden;
    transition: padding 0s, height 0.2s ease, border 0.15s ease;
    -webkit-transition: padding 0s, height 0.2s ease, border 0.15s ease;
    -moz-transition: padding 0s, height 0.2s ease, border 0.15s ease;
    -ms-transition: padding 0s, height 0.2s ease, border 0.15s ease;
    -o-transition: padding 0s, height 0.2s ease, border 0.15s ease;
}

.faqItem-top.active+.faqItem-body {
    height: 90px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-left: 4px solid #f71;
    padding: 0.5rem 1rem;
    overflow-y: auto;
}

.pesquise_ {
    position: relative;
}

.pesquise_ small {
    top: 50%;
    right: 12%;
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

/*
footer*/

.footer .container-sm {
    border-top: solid 1px rgba(0, 0, 0, 0.1);
}

.footer a {
    color: rgba(0, 0, 0, 0.7);
}

.footer .logo {
    color: #f71;
    font-family: 'Roboto-Bold';
    font-size: 18px;
}

.footer .por {
    text-decoration: underline;
}

.footer .por:hover {
    opacity: 0.7;
}

.footer .heading {
    font-family: 'Roboto-Bold';
    font-size: 20px;
}


/*
|---------------------------------------------------
| Wallpaper
|---------------------------------------------------
*/
.wallpaper {
    top: 0px;
    left: 0;
    width: 100%;
    /*height: 76vh;
    */
    height: 100vh;
    display: flex;
    position: relative;
    background: url('../../img/studio-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    transform: rotateX(360deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wallpaper>* {
    z-index: 11111;
}

.wall-data {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.wall-data .td-muted {
    width: 80%;
    margin: 1.5rem auto 3rem !important;
}

.wall-data .actions {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.no-top {
    top: 0 !important;
    overflow: hidden;
}

.wallpaper::after {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.9;
    background: linear-gradient(to left, #000, rgba(0, 0, 0, 0.6));
}

.wallpaper .sx-container {
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 111;
    position: relative;
}


/*
|---------------------------------------------------
| loader
|---------------------------------------------------
*/
.loader {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 11111111111111111;
    background-color: #fff;
    opacity: 0.99;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.loader .spin {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: 6px solid;
    border-color: #FF4611 rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25);
    animation: rotate 2s ease infinite;
}

.loader.end-animation {
    display: none;
}

.loader.end-animation .spin {
    animation: none;
}

@keyframes rotate {

    0%,
    100% {
        transform: rotate(360deg);
    }

    20% {
        transform: rotate(0deg);
    }
}


.title.text-bold {
    font-size: 22px;
    margin-top: -5px;
}

.card-plan-body img {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border: solid 1px rgba(0, 0, 0, 0.1);
}

@media (max-width: 0px) {
    .text-orange.text-bold.d-block.mt-3 {
        font-size: 15px !important;
    }
}