RewriteEngine On

# Assegura que arquivos ou diretórios existentes não sejam redirecionados
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Roteia todas as outras solicitações para index.php
RewriteRule ^(.*)$ index.php [QSA,L]