@import url('fonts.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Roboto-Light';
    background-color: #F9F9FF;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #f1f1ff;
    border: solid 1px #ccc;
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background-color: #aaa;
}

::selection {
    color: #fff;
    background-color: #cc0000;
}

a {
    color: #333;
    text-decoration: none;
}

/*
DEFAULT
*/

.spn-wrapper {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.spn-wrapper footer,
.spn-wrapper .footer,
.spn-wrapper .wrapper-down {
    margin-top: auto;
}

.spn-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.card-section-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.card-section-row.normal {
    justify-content: initial;
    gap: 10px;
}


.tw-muted {
    color: #8A8A8A;
}

.spn-give-space {
    display: block;
    margin: 2rem 0 5rem;
}

/*
NAVBAR
*/

.spn-navbar {
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    position: sticky;
    background-color: #fff;
    z-index: 111111111111;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(0, 0, 0, 0.05);
}

.spn-navbar .spn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}


.spn-app {
    font-size: 18px;
    color: #cc0000;
    font-family: 'Roboto-Regular';
}

.spn-app .bi-code-slash {
    font-size: 20px;
}

.spn-nav-items {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.spn-nav-item {
    height: 100%;
    position: relative;
}

.nav-link {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.2rem 0.4rem;
}

.mnav-dropdown {
    width: 100%;
    position: relative;
}

.dropdown-top a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-top a small {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #f1f1f1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.dropdown-items {
    height: 0;
    overflow-y: hidden;
}

.dropdown-items.active {
    height: auto;
    background-color: #f9f9f9;
}

.spn-nav-item.menu,
.nav-link small:not(.text) {
    width: 35px;
    height: 35px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.nav-link small.text {
    font-size: 15px;
}

.spn-nav-item.menu {
    gap: 5px;
    border-radius: 2px;
    cursor: pointer;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.spn-nav-item.menu .line-menu {
    display: block;
    width: 50%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
}

/*
LOADER
*/

.loader {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 11111111111111111111;
    background: #f9f9f9;
    transition: 2s linear;
    -webkit-transition: 2s linear;
    -moz-transition: 2s linear;
    -ms-transition: 2s linear;
    -o-transition: 2s linear;
}

.loader span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cc0000;
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50% 50% 50% 10%;
    animation: bounce 0.5s linear;
    -webkit-animation: bounce 0.5s linear;
}

@keyframes bounce {

    0%,
    100% {
        transform: scale(0.2);
    }

    20% {
        transform: scale(1.5);
    }
}

.loader.hide {
    /*display: none;*/
    top: -1000%;
}

/*
MOBILE-NAV
*/

.spn-overlay {
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1111111111111;
    transition: 0.1s ease-out;
}

.spn-overlay.active {
    left: 0%;
}

.spn-mnav {
    top: 0;
    right: -100%;
    width: 420px;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
    z-index: 11111111111111;
    background-color: #fff;
    transition: 0.2s 0.1s ease-in;
}

.spn-mnav.active {
    right: 0;
}

.mnav-header,
.mnav-items {
    width: 100%;
}

.mnav-header+.mnav-items {
    margin-top: 2rem;
}

.mnav-item+.mnav-item {
    margin-top: 0.5rem;
}

.mnav-header span {
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 1.5rem;
    gap: 10px;
    cursor: pointer;
    font-family: 'Roboto-Regular';
}

.mnav-header:hover span {
    color: #cc0000;
}

.mnav-item {
    width: 100%;
    height: 50px;
    position: relative;
}

.mnav-link {
    width: 100%;
    height: 100%;
    display: flex;
    line-height: 50px;
    padding: 0 2rem;
    transition: 0.1s linear;
}

.mnav-link::after {
    content: '';
    top: 0;
    left: 0;
    width: 4px;
    height: 0;
    position: absolute;
    transition: 0.2s ease-in-out;
    background-color: #cc0000;
}

.mnav-item.active .mnav-link,
.mnav-item:hover .mnav-link {
    color: #cc0000;
    font-family: 'Roboto-Regular';
}

.mnav-item.active .mnav-link::after,
.mnav-item:hover .mnav-link::after {
    height: 100%;
}

.mnav-link span[class^="bi-"] {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
}








/*
CARD-LAYOUT
*/

.card-section,
.card-section-header,
.card-section-contain {
    width: 100%;
    position: relative;
    padding: 1rem 0;
}

.card-section-header+.card-section-contain {
    margin-top: 1rem;
}

.card-section-header {
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}

.card-section-header .spn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-section-header .default {
    display: block;
    font-family: 'Roboto-Regular';
    margin-bottom: -2px;
}

.form-filter {
    width: 320px;
    height: 40px;
    position: relative;
}

.form-filter small {
    top: 50%;
    left: 4%;
    position: absolute;
    transform: translateY(-50%);
}

.has-icon-on-left .filter-input {
    padding-left: 30px;
}

.filter-input {
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-family: 'Roboto-Light';
    border: 1px solid rgba(0, 0, 0, 0.05);
    transition: 0.15s ease;
}

.filter-input:focus {
    border-color: rgba(0, 0, 0, 0.2);
}


/*
TEMPLATE-ITEM
*/

.template-item,
.template-add {
    width: 47%;
    height: 200px;
    position: relative;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.02);
    margin-bottom: 1rem;
}

.template-add {
    background: transparent;
    border: 2px dashed rgba(204, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
}

.template-add:hover .add {
    color: rgba(204, 0, 0, 0.5);
}

.template-add .add {
    color: #cc0000;
    font-family: 'Roboto-Regular';
}

.template-item {
    padding: 1rem;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.ttable {
    width: 380px;
    height: 180px;
}

.template-cover {
    width: 40%;
    height: 80%;
    position: relative;
}

.template-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.template-info {
    width: 60%;
    position: relative;
}

.range {
    font-size: 16px;
    padding: 0.2rem 0.5rem;
    display: block;
    margin: 0.5rem 0 0;
    color: #fdfdfd;
    background-color: #cc0000;
    /*border: solid 1px rgba(204, 0, 0, 0.1);*/
}

.ratings small {
    font-size: 12px;
    color: rgba(204, 0, 0, 0.5);
}

.template-info .name {
    display: block;
}

.template-info .name.template {
    font-size: 24px;
    margin-top: -3rem;
    margin-left: -4rem;
    font-family: 'Roboto-Light';
}

.template-info .name.template+.name,
.template-info .name.template+.name+.name {
    padding-left: 0.3rem;
    margin-left: -4rem;
}

.template-info .name.template+.name+.name {
    margin-top: 0.5rem;
}

.template-item .tdata {
    right: 0;
    height: 25px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
    color: #fff;
    padding-right: 10px;
    background-color: #747373;
}

.template-item .tdata:nth-child(2) {
    top: 5%;
    width: 80px;
}

.template-item .tdata:nth-child(3) {
    top: 20%;
    width: 120px;
}

.template-item .tdata:nth-child(4) {
    top: 35%;
    width: 160px;
}

.template-item .tdata:nth-child(5) {
    top: 60%;
    width: 200px;
    display: flex;
    align-items: center;
    background-color: transparent;
    gap: 5px;
    padding-right: 0.2rem;
}

.template-item .tdata:nth-child(5) a {
    width: 35px;
    height: 32px;
    aspect-ratio: 1/1;
    font-size: 18px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px rgba(0, 0, 0, 0.2);
}

.template-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0.8rem;
}

.template-actions .btn-action {
    width: 35px;
    height: 35px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.1);
}

.template-actions .btn-action:has(.bi-trash) {
    color: #fdfdfd;
    border-color: transparent;
    background-color: rgba(204, 0, 0, 0.5);
}


.template-actions .btn-action:hover {
    opacity: 0.5;
}




/*
FORM
*/

.spn-form,
.spn-form-row {
    width: 100%;
    position: relative;
}

.spn-form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.spn-form-row+.spn-form-row {
    margin-top: 2rem;
}

.spn-form-item {
    width: 45%;
    min-width: 45%;
    height: 50px;
    position: relative;
    border-radius: 5px;
    margin-top: 1rem;
    border: solid 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.spn-form-item.default {
    border-color: transparent;
    background-color: transparent;
}

.spn-form-item .bi-copy {
    top: 50%;
    right: 2%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    transform: translateY(-50%);
    background-color: #f9f9f9;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.spn-form-row:has(.mh) {
    align-items: end;
}

.mh {
    width: 25%;
    min-width: 25%;
    height: 200px;
}

.spn-form-btn {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 15px;
    font-family: 'Roboto-Light';
    border: none;
    padding: 0.25rem 3%;
    border-radius: 5px;
}

.form-label {
    top: 50%;
    left: 3%;
    position: absolute;
    transform: translateY(-50%);
    font-size: 14px;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.7);
    transition: 0.15s ease-in-out;
}

.spn-form-item:has(label) {
    /*height: 180px;*/
    border: dashed 1px rgba(204, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.3);
}

label.form-label {
    pointer-events: all;
    z-index: 11;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    line-height: 50px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto-Regular';
    color: rgba(204, 0, 0, 0.5);
}

label.form-label:hover {
    opacity: 0.45;
}

.form-input:valid+.form-label,
.form-input:focus+.form-label,
.form-input:read-only + .form-label {
    top: -20%;
}

.form-btn {
    outline: none;
    border: solid 1px transparent;
    width: 59%;
    height: 45px;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px;
    line-height: 45px;
    text-align: center;
    transition: 0.15s ease-in-out;
    font-family: 'Roboto-Light';
    background-color: #cc0000;
}

.form-btn:hover {
    box-shadow: 0 0 0 4px rgba(204, 0, 0, 0.2);
}

.form-btn+.form-btn:hover {
    box-shadow: 0 0 0 4px rgba(170, 170, 170, 0.2);
}

.form-btn+.form-btn {
    width: 30%;
    background-color: #aaa;

}

.form-label span {
    display: block;
}

.form-label:has(img) {
    padding: 0;
}

.form-label.active span {
    display: none;
}

/*
.form-label.active:hover span {
  top: 50%;
  left: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  position: absolute;
  display: block;
  font-family: 'Roboto-Light';
  transform: translateY(-50%);
  z-index: 11111;
  color: #fff;
  background-color: #cc0000;
}
*/
.form-label.active img {
    display: block;
}

.form-label img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    display: none;
}

option:hover {
    background-color: #cc0000 !important;
    /* Cor de fundo das opções */
}



/*
AUTH
*/

.spn-wrapper:has(.spn-contain-auth) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spn-contain-auth {
    width: 340px;
    height: 300px;
    padding: 0.5rem 1rem;
    background-color: #fdfdfd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.spn-auth-header {
    display: flex;
    align-items: center;
    height: 45px;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo {
    padding: 0 0.2rem;
    color: #fdfdfd;
    background-color: #cc0000;
}

.logo+.title {
    /*font-family: 'Roboto-Regular';*/
}


.auth-item {
    width: 100%;
    height: 45px;
    position: relative;
}

.auth-item+.auth-item {
    margin-top: 0.5rem;
}

.auth-item small {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
}

.auth-input {
    width: 100%;
    height: 100%;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-family: 'Roboto-Light';
    padding-left: 26px;
}


button.auth-input {
    padding: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-color: transparent;
    background-color: #cc0000;
}


.auth-info {
    margin-top: 0.5rem;
}




/*
Icons
*/
.icon-warning {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ca9566;
    aspect-ratio: 1/1;
    color: #fff;
}


.spn-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: #f9f9f9;
    border-radius: 0.25rem;
}


.minimize {
    height: 10vh;
    overflow-y: hidden;
    margin-bottom: 2rem;
}





/*
Alerts
*/

.contain-popup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.01);
    z-index: 111111111111;
    opacity: 0;
    transition: 0.15s ease;
    pointer-events: none;
}

.contain-popup.active {
    opacity: 1;
    pointer-events: all;
}

.popup {
    width: 460px;
    max-width: 100%;
    min-height: 100px;
    padding: 1rem 2rem 2rem;
    background-color: #fdfdfd;
    border-radius: 0.25rem;
    margin-top: -1100rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.popup.active {
    animation: animate 0.5s ease forwards;
    transition: 0.2s 0.1s ease;
}

@keyframes animate {
    0% {
        margin-top: -1100rem;
    }

    100% {
        margin-top: 0;
    }
}

.popup-header {
    height: 50px;
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    justify-content: space-between;
}

.popup-body {
    /*text-align: justify;*/
    padding-top: 1rem;
}

.popup-header .bold {
    display: block;
    margin-bottom: -5px;
    font-family: 'Roboto-Regular';
}

.popup-header .popup-title+span {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 16px;
    background-color: #f9f9ff;
    border: solid 1px rgba(0, 0, 0, 0.05);
}











/*
Table
*/

.dtable {
    width: 100%;
    /*border: solid 1px rgba(0, 0, 0, 0.1);*/
}

.thead {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #cc0000;
}

.tbody {
    width: 100%;
    height: 360px;
    overflow-y: auto;
}

.tbody .trow {
    height: 50px;
}

.tbody .trow .tdata:has(a) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

.tbody .trow a {
    width: 20%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.no-style {
    width: initial !important;
    border: none !important;
    background-color: transparent !important;
}

a.no-style:hover {
    text-decoration: underline;
}

.tbody .trow a:hover {
    opacity: 0.7;
}

.tbody .trow:nth-child(even) {
    background-color: #f4f4f4;
}

.tbody .trow+.trow {
    margin-top: 0.5rem;
}

.trow {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.thead .tdata+.tdata {
    border-left: solid 1px #fff;
}

.table_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
}

.table_actions a {
    /*color: #07f;*/
    color: #000;
}

.table_actions a:hover {
    text-decoration: underline;
}

.col-1 {
    width: 8, 333333333333333%;
    flex: 0 0 8.333333333333333%;
}

.col-2 {
    width: 16.66666666666667%;
    flex: 0 0 16.66666666666667%;
}

.col-3 {
    width: 25%;
    flex: 0 0 25%;
}

.col-4 {
    width: 33.33333333333333%;
    flex: 0 0 33.33333333333333%;
}

.col-4 {
    width: 41.66666666666667%;
    flex: 0 0 41.66666666666667%;
}

.col-6 {
    width: 50%;
    flex: 0 0 50%;
}

.col-7 {
    width: 58.33333333333333%;
    flex: 0 0 58.33333333333333%;
}

.col-8 {
    width: 66.66666666666666%;
    flex: 0 0 66.66666666666666%;
}

.col-9 {
    width: 75%;
    flex: 0 0 75%;
}

.col-10 {
    width: 83.33333333333333%;
    flex: 0 0 83.33333333333333%;
}

.col-11 {
    width: 91.66666666666666%;
    flex: 0 0 91.66666666666666%;
}

.col-12 {
    flex: 0 0 100%;
}

.form_ {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.wait-loader {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11111111111111111111111111111111;
    background-color: rgba(0, 0, 0, 0.4);
}

.__loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 111;
    color: #fff;
}

.__loader .spin {
    width: 45px;
    height: 45px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: dashed 8px #fff;
    margin-bottom: 1rem;
    display: block;
    animation: rotate 1s ease infinite;
}

@keyframes rotate {
    0%, 100% {
        transform: scale(1.0) rotate(360deg);
    }

    35% {
        width: 20px;
        height: 20px;
        transform: scale(0.8) rotate(160deg);
        aspect-ratio: 1/1;
    }
}

.wait-loader.hide {
    display: none;
}